@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Exo 2", sans-serif;
}

.active{
    color:cyan;
    transition:0.2s;
}


@keyframes slideIn {
    from {
      transform: translateX(-30%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
  
  .slide-in {
    animation: slideIn 1s forwards;
  }
  
  .slide-out {
    animation: slideOut 1s forwards;
  }
  